# Ignore environment files
frontend/.env
backend/.env

# Ignore node_modules in both frontend and backend
/backend/node_modules/
/frontend/node_modules/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
logs
npm-debug.log

# Build outputs
frontend/dist/
backend/dist/
